*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  font-family: sans-serif;
}
img{
  width: 100%;
}
a{
  color: white;
  text-decoration: none;
}
li{
  list-style: none;
}